src/main/mule/mulemavendeployment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="19a7a096-545d-476a-a3f2-b5b112e49278" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulemavendeploymentFlow" doc:id="6713e582-c93f-40ff-91f1-09dba5440c6c" >
		<http:listener doc:name="Listener" doc:id="d0c785f7-623e-4907-b2be-f665c9ae8bcc" config-ref="HTTP_Listener_config" path="/welcome"/>
		<set-payload value='#["Welcome to the mule maven deployment updated"]' doc:name="Set Payload" doc:id="54947adb-ba85-4142-ba0a-962329d2d7bd" />
		<logger level="INFO" doc:name="Logger" doc:id="ec1f18ba-8bc6-4515-a7ac-2103fc67d0ba" message="#[payload]"/>
	</flow>
</mule>
